body {
  background-image: url(../assists/imgs/ggggg.png);
}
/* This may not work consistently across all browsers */
/* This may not work consistently across all browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
/* Hide img when media query matches and input[type="date"] has -webkit-calendar-picker-indicator */
@media (max-width: 768px) {
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}
